div[class^='highlight'] pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}

.highlight {
    word-wrap: break-word !important;
}

ul *,
ol * {
  margin-left: 0.0em !important;
}

